body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

p {
  margin: 0px;
}

.header1 {
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px 0px 200px;
}

.header1 .logo {
  font-size: 24px;
  color: #f9FAF8;
}

.header1 .links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 25px;
}

.header2 {
  display: flex;
  background-color: #1f2937;
  padding: 0px 200px 0px 200px;
  justify-content: space-between;
  align-items: center;
  flex-basis: 400px;
}

.header2 .intro {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.header2 .picture {
  margin-right: 100px;
}

#intro1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

#intro2 {
  font-size: 18px;
  color: #e5e7eb;
}

.content-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  padding-top: 30px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px 70px 0px;
}

.content .image {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.content .image img {
  border-style: groove;
}

.quote-space {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 300px 100px 300px;
}

.quote {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-style: italic;
}

.quote-space .quote #quoted {
  align-self: flex-end;
  font-size: large;
  font-style: normal;
}